body{
     background: url("backgr.jpg");
    color: white;
    background-size: cover;
}
.container{
display: flex;
gap: 80px;
margin-top: 50px;


}
.box{
/* height: 100px; */
width: 30%;
/* border: 2px solid black; */
text-align: center;
}
.video-links{
    width: 100%;
    height: 250px;
    border: 1px solid black;
}
  nav {
    width: 100%;
    height: 60px;
    /* background-color: rgba(137, 43, 226, 0.41); */
   color: rgb(138, 132, 132);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
     padding: 0 35px;
   
   }
   nav a{
    text-decoration: none;
    color: rgb(247, 186, 186);
    margin-left: 600px;
   }
 